node_modules/
venv/
__pycache__/
.env
target/
*.jar
*.pyc

# ML dataset - too large for GitHub
ml-fraud-detection/data/raw/paysim.csv

# Python cache and environments
__pycache__/
*.pyc
.venv/
venv/
.env
